html {
    background-color: #f5f5f5;
}

[v-cloak] {
    display: none;
}

.is-fullheight {
    min-height: calc(100vh - 60px) !important;
}

.is-bold {
    font-weight: 600;
}

.small-margin-bottom {
    margin-bottom: 5px;
}